body {
    background-color: black;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.top {
    height: 40%;
    padding: 16px;
}

.bottom {
    display: block;
}

.heading {
    padding: 1%;
    font-size: 3em;
}

.sub-heading {
    font-size: 2em;
}

.text-position {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    border: 2px solid black;
    border-radius: 16px;
    width: 40%;
    height:60%;
    max-height: 200px;
    max-width: 400px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 30px;
    margin: 0 16px 0 16px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 16px #d1bee6;
}

.button:active {
    outline: none;
    border: none;
}

.button:focus {
    outline: none;
    border: none;
}

.on {
    color: #63586e;
    background-color: #7cb54a;
    border: 2px solid #3b5821;
}

.off {
    color: #63586e;
    background-color: #c23529;
    border: 2px solid #751e16;
}

.inactive {
    color: #d1c6dd;
    background-color: #63586e;
    border: 2px solid #d1bee6;
}

.disabled {
    opacity: 0.5;
}

.disabled:hover {
    cursor: default;
}

.content {
    background-color: #4d4654;
    text-align: center;
    border-radius: 16px;
    max-width: 80%;
    max-height: 80%;
    min-height: 80%;
    margin: 2% 10% 6% 10%;
    box-sizing: border-box;
    position: relative;
}

.lightbulb-icon-on {
    fill: #7cb54a;
}

.lightbulb-icon-off {
    fill: #c23529;
}

#lightbulb-icon {
    max-height: 40%;
}

.light-four {
    fill: #ffff00;
    animation-name: bulb;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.light-one {
    fill: #ffff00;
    animation-name: bulb;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.light-two {
    fill: #ffff00;
    animation-name: bulb;
    animation-delay: 0.1s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.light-three {
    fill: #ffff00;
    animation-name: bulb;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

#hourglass-icon {
    height: 100%;

    animation-name: hourglass-rotate-backwards;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#hourglass-icon:hover {
    animation-name: hourglass-rotate-forwards;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 0 0 16px #d1bee6;
    border-radius: 50%;
}

.timer-box {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 60px;
    width: 60px;
}

@keyframes hourglass-rotate-backwards {
    0% {
        fill: #d1bee6;
        transform: rotate(180deg);
    }
    100% {
        fill: #63586e;
        transform: rotate(0deg);
    }
}

@keyframes hourglass-rotate-forwards {
    0% {
        fill: #63586e;
        transform: rotate(0deg);
    }
    100% {
        fill: #d1bee6;
        transform: rotate(180deg);
    }
}

@keyframes bulb {
    0% {
        fill: #ffff00;
    }
    50% {
        fill: #800080;
    }
    100% {
        fill: #ffff00;
    }
}