body {
    background-color: black;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;

}

span {
    font-size: 30px;
}

.top {
    height: 40%;
    padding: 16px;
}

.bottom {
    height: 60%;
    display: block;
}

.heading {
    padding: 1%;
    font-size: 3em;
}

.sub-heading {
    font-size: 2em;
}

.text-position {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    border: 2px solid black;
    border-radius: 16px;
    width: 40%;
    height:60%;
    max-height: 200px;
    max-width: 400px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 30px;
    margin: 0 16px 0 16px;
}

.on {
    color: #7cb54a;
    border: 2px solid #7cb54a;
    background-color: #63586e;
}

/* .on:hover
{
    color: #63586e;
    background-color: #7cb54a;

} */

.off {
    color: #c23529;
    background-color: #63586e;
    border: 2px solid #c23529;
}

.inactive {
    color: #d1bee6;
    border: 2px solid #d1bee6;
}

/* .off:hover
{
    color: #63586e;
    background-color: #c23529;
} */

.content {
    background-color: #4d4654;
    text-align: center;
    border-radius: 16px;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    box-sizing: border-box;
}